#parse("/velocity/layout.vm")
#@mainLayout()
<head>
	<link rel="stylesheet" href="/person.css">
	#set( $link = "blah" )
</head>
<body class = "body">
	<h1>${actor.getFullName()}</h1>
		<div class = "image">
			<img class = "photo" src = "https://upload.wikimedia.org/wikipedia/commons/0/0a/Scott_Morrison_2014.jpg" alt = "actor image">
		</div>
		<div class = "section">
			<h3>Overview</h3>
			<table class = "table">
				<tr>
					<th> Full name </th>
					<td> ${actor.getFullName()} </td>
				</tr>
					<th> Birth date</th>
					<td> ${actor.getBirthdate()}  </td>
				<tr>
					<th> Role </th>
					<td>${actor.getRole()}</td>
				</tr>
			</table>
		</div>
	<div class = "section">
		<h3>Biography</h3>
		<div class = "bio">
			${actor.getBio()}
		</div>
	</div>
	<div class = "filmography">
		<h3>Filmography</h3>
		<div class = "credits">
			
			<table class = "table">
				<tr>
					<th> Film </th>
					<th> Role </th>
					<th> Character </th>
					<th> Year </th>
				</tr>
				#foreach( $credit in ${credits} )
			    <tr>
					<td> <a href = "${show_link}/?show=${credit.getShow().getShowID()}">
						 ${credit.getShow().getShowTitle()}</a></td>
					<td> ${credit.getRole()}</td>
					<td> ${credit.getCharacter()}</td>
					<td> ${credit.getStartYear()}
						 #if(${credit.getEndYear()} != 0)
							- ${credit.getEndYear()}
						 #end</td>
				</tr>
			 	#end
				<tr>
					<td> Yeeting off to Hawaii dud data</td>
					<td> Actor </td>
					<td> Crap PM </td>
					<td> 2019 - 2020 </td>
				</tr>
				<tr>
					<td> Ignoring the hot flame bois dud data </td>
					<td> Actor </td>
					<td> Ridiculous PM </td>
					<td> 2020 </td>
				</tr>
				<tr>
					<td> Social distancing dud data</td>
					<td> Actor </td>
					<td> Late PM </td>
					<td> 2020 </td>
				</tr>
				<tr>
					<td> Social distancing dud data</td>
					<td> Actor </td>
					<td> Late PM </td>
					<td> 2020 </td>
				</tr>
				<tr>
					<td> Social distancing dud data</td>
					<td> Actor </td>
					<td> Late PM </td>
					<td> 2020 </td>
				</tr>
				<tr>
					<td> Social distancing dud data</td>
					<td> Actor </td>
					<td> Late PM </td>
					<td> 2020 </td>
				</tr>
			</table>
		</div>
	</div>
</body>

#end