#parse("/velocity/layout.vm")
#@mainLayout()

<h1>Search Movies</h1>
<form action="/searchresults" id="searchTitleForm" method="get">

    <label>Search by Show Title</label>
    <input type="text" name="showTitleSearch" placeholder="Show Title" value="" required>
    <input type="submit" value="Search">
</form>


<form id="searchActorForm" method="post">
    <label>Search by Actor</label>
    <input type="text" name="showActorSearch" placeholder="ActorName" value="" required>
    <input type="submit" value="Search">
</form>

<form method="get">
  Click to see about robert deniro!
  <input type = "hidden" name = "actor" value = 1></input>
  <button type="submit">Robert</button>
</form>
#end