#parse("/velocity/layout.vm")
#@mainLayout()
<head>
    <link rel="stylesheet" href="/searchresults.css">
</head>
<body class = "body">
    <h1>Search results for: "${query}"</h1>
    <div id = "container">
        #foreach( $show in ${shows} )
            <div class = "resultbox">
                <h2><a href = "/show/?show=${show.getShowID()}">${show.getShowTitle()}</a></h2>
                <h3>${show.getYear()} | ${show.getGenre()}</h3>
                <p>${show.getSynopsis()}</p>
            </div>
        #end
    </div>

</body>

#end