#parse("/velocity/layout.vm")
#@mainLayout()

<body class = "body">

<form action = "/show/delete/" method = "post" onsubmit="return confirm('Are you sure you want to delete this show?');">

	<input type="hidden" id="show_id" name="show_id" value ="${show.getShowID()}">
	<textarea style = "display:none" id="image" name = "image" class="form-control" required>${image}</textarea>

	<div style = "display:none">
		#set($count = 1)
		#foreach($credit in ${credits})
			<input type = "hidden" name = "actor$count" id="actor$count" value = "${credit.getPerson().getPersonId()}">
			<input type="text"  value = "${credit.getPerson().getFullName()}" class = "form-control col-lg-4" readonly>
			<select name = "role$count" id ="role$count" class="form-control col-lg-4">
				#if(${credit.getPerson().getRole().contains(",")})
					#foreach ($role in ${credit.getPerson().getRole().replace(" ","").split(",")})
						<option value = "$role" #if(${credit.getRole()} == $role)selected#else#end>$role</option>
					#end
				#else
					<option value = "${credit.getPerson().getRole()}">${credit.getPerson().getRole()}</option>
				#end
			</select>
			<input type = "text" name = "character$count" id ="character$count" value = "${credit.getCharacter()}" class="form-control col-lg-4"</input>
			#set($count = $count+1)
		#end
	</div>

	<button type="submit" class="btn btn-danger" style="float:right"> Delete Show </button>

</form>

<h1> Edit a Show  </h1>
	<form action = "/show/edit/" method ="post">
		<div class="form-group">
			<label for = "show_title">Title: </label>
			<input type = "text" name = "show_title" id = "show_title" class="form-control" value ="${show.getShowTitle()}" required>
		</div>
		<div class="form-group">
			<label for = "genre">Genre: </label>
			<input type = "text" name="genre" id="genre" class="form-control" value ="${show.getGenre()}" required>
		</div>
		<div class="form-group">
			<label for = "length">Length: </label>
			<input pattern="^\d*(\.\d{0,2})?$" name="length" id="genre" class="form-control" value ="${show.getLength()}" required>
		</div>
		<div class="form-group">
			<label for = "type">Type: </label>
			<select name="type" id = "type" class="form-control">
				<option value = "0" #if(${show.getType()} == 0)selected#else#end>Movie</option>
				<option value = "1" #if(${show.getType()} == 1)selected#else#end>Tv Series</option>				
			</select>
		</div>
		<div class="form-group">		
			<label for = "production_company"> Production Company: </label>
			<select name= "production_company" id = "production_company" class= "form-control">
				#foreach($proco in ${procos})
			    	<option #if(${show.getProco().getProductID()} == ${proco.getProductID()})selected#else#end value = "${proco.getProductID()}">${proco.getName()}</option>
			 	#end
			</select>
		</div>
		<div class="form-group">
			<label for = "year"> Year: </label>
			<input type ="text" id = "year" name="year" class="form-control" value ="${show.getYear()}" required>
		</div>
		<div class="form-group">
			<label for = "synopsis"> Synopsis: </label>
			<textarea id="synopsis" name = "synopsis" class="form-control" required>${show.getSynopsis()}</textarea>
		</div>
		<div class="form-group">
			<label for = "image"> Image URL: </label>
			<textarea id="image" name = "image" class="form-control" required>${image}</textarea>
		</div>
		<div class="form-group">
			<span>Cast:</span>
			#set($count = 1)
			#foreach($credit in ${credits})
				<div class = "row container-fluid">
					<input type = "hidden" name = "actor$count" id="actor$count" value = "${credit.getPerson().getPersonId()}">
			    	<input type="text"  value = "${credit.getPerson().getFullName()}" class = "form-control col-lg-4" readonly>
			    	<select name = "role$count" id ="role$count" class="form-control col-lg-4">
					#if(${credit.getPerson().getRole().contains(",")})
						#foreach ($role in ${credit.getPerson().getRole().replace(" ","").split(",")})
							<option value = "$role" #if(${credit.getRole()} == $role)selected#else#end>$role</option>
						#end
					#else
						<option value = "${credit.getPerson().getRole()}">${credit.getPerson().getRole()}</option>
					#end
					</select>
					<input type = "text" name = "character$count" id ="character$count" value = "${credit.getCharacter()}" class="form-control col-lg-4"</input>
				</div>
				#set($count = $count+1)					
		 	#end
		</div>
		<div class="form-group">
			<label for = "status"> Status: </label>
			<select name="status" id = "status" class="form-control">
				#if(${show.getStatus()} == ${under_inv} ||${show.getStatus()} == ${submitted})
                <option value = "1" #if(${show.getStatus()} == ${under_inv} ||${show.getStatus()} == ${submitted})selected#else#end>Under Investigation</option>
                <option value = "2" #if(${show.getStatus()} == ${pending})selected#else#end>Pending</option>
                <option value = "5" #if(${show.getStatus()} == ${rejected})selected#else#end>Rejected</option>
                <option value = "3" #if(${show.getStatus()} == ${suspended})selected#else#end>Suspended</option>
                #elseif(${show.getStatus()} == ${suspended})
				<option value = "3" #if(${show.getStatus()} == ${suspended})selected#else#end>Suspended</option>
				<option value = "2" #if(${show.getStatus()} == ${pending})selected#else#end>Pending</option>
				<option value = "5" #if(${show.getStatus()} == ${rejected})selected#else#end>Rejected</option>
				#elseif(${show.getStatus()} == ${pending}) 
				<option value = "2" #if(${show.getStatus()} == ${pending})selected#else#end>Pending</option>
				<option value = "4" #if(${show.getStatus()} == ${visible})selected#else#end>Visible</option>
				<option value = "5" #if(${show.getStatus()} == ${rejected})selected#else#end>Rejected</option>
				#elseif(${show.getStatus()} == ${visible})
				<option value = "4" #if(${show.getStatus()} == ${visible})selected#else#end>Visible</option>
				<option value = "3" #if(${show.getStatus()} == ${suspended})selected#else#end>Suspended</option>
				#elseif(${show.getStatus()} == ${rejected})
				<option value = "5" #if(${show.getStatus()} == ${rejected})selected#else#end>Rejected</option>
				#end
		
			</select>
		</div>
		<div class="form-group">
			<input type="hidden" id="show_id" name="show_id" value ="${show.getShowID()}">
			<div class="container">
			  <div class="row">
			    <div class="col text-center">
			      <input type="submit" class="btn btn-warning center-block">
			    </div>
			  </div>
			</div>
		</div>
	</form>
</body>

#end