#parse("/velocity/layout.vm")
#@mainLayout()
<body class = "body">
	<h1> Add a New Show </h1>
	<form action = "/show/new" method ="post">
		<div class="form-group">
			<label for = "show_title">Title: </label>
			<input type = "text" name = "show_title" id = "show_title" class="form-control" required>
		</div>
		<div class="form-group">
			<label for = "genre">Genre: </label>
			<input type = "text" name="genre" id="genre" class="form-control" required>
		</div>
		<div class="form-group">
			<label for = "length">Length: </label>
			<input pattern="^\d*(\.\d{0,2})?$" name="length" id="genre" class="form-control" required>
		</div>
		<div class="form-group">
			<label for = "type">Type: </label>
			<select name="type" id = "type" class="form-control">
				<option value = "0">Movie</option>
				<option value = "1">Tv Series</option>
			</select>
		</div>
		<div class="form-group">		
			<label for = "production_company"> Production Company: </label>
			<select name= "production_company" id = "production_company" class= "form-control">
				#foreach($proco in ${procos})
			    	<option value = "${proco.getProductID()}">${proco.getName()}</option>
			 	#end
			</select>
		</div>
		<div class="form-group">
			<label for = "year"> Year: </label>
			<input type ="text" id = "year" name="year" class="form-control" required>
		</div>
		<div class="form-group">
			<label for = "synopsis"> Synopsis: </label>
			<textarea id="synopsis" name = "synopsis" class="form-control" required></textarea>
		</div>
		<div class="form-group">
			<button type = "button" class = "btn btn-primary center-block" id = "addCastBtn">Add cast</button>
			<div id="cast"></div>
		</div>
		<div class="form-group">
			<input type="hidden" id="status" name="status" value="0">
			<div class="container">
			  <div class="row">
			    <div class="col text-center">
			      <input type="submit" class="btn btn-primary center-block">
			    </div>
			  </div>
			</div>
		</div>
	</form>
</body>	
	
<script>
	document.getElementById("addCastBtn").onclick = displayCastForm;
	var count = 0;
	var actorRoleArray = []; 
	
	#foreach($person in ${people})
		actorRoleArray[${person.getPersonId()}]	= "${person.getRole().replace(" ","")}";		
	#end
	
	function displayCastForm(){
		count++;

		var outerDiv = document.getElementById("cast");
		var div = document.createElement("div");
		div.id= "cast" + count;
		outerDiv.appendChild(div);
		
		var select = document.createElement("select");
		select.id = "actor"+count;
		select.name = "actor"+count;
		select.className = "form-control";
		var option = document.createElement("option");
		option.text = "Please select an actor";
		option.value = "0";
		select.appendChild(option);	
		
		#foreach($person in ${people})
				#set($id = ${person.getFullName().replace(" ","")})
				#set($actor = "actor")
				var option = document.createElement("option");
				option.text = "${person.getFullName()}";
				option.value = "${person.getPersonId()}";
				option.id = "$id$actor";
				select.appendChild(option);	
		#end
		
		div.appendChild(select);
		if(document.getElementById("role"+count) == null){
			var roleSelect = document.createElement("select");
			roleSelect.id="role"+count;
			roleSelect.name = "role"+count;
			roleSelect.style.display = "none";
			div.appendChild(roleSelect);
		}

		document.getElementById("actor"+count).onchange = function(){
			getRolesForActor(this.id);
		};
	}
	
	function getRolesForActor(id){
		var arrayValue =  document.getElementById(id).parentElement.children[0].value;
		var roleOfActor = actorRoleArray[arrayValue];
		var allPossibleRoles = [];
		if(roleOfActor.includes(",")){
			allPossibleRoles = roleOfActor.split(",");
		}else{
		allPossibleRoles.push(roleOfActor);
		}

		var select = document.getElementById(id).parentElement.children[1];
		select.style.display= "inline";
		select.innerHTML = "";
		select.className = "form-control";
		var option = document.createElement("option");
		option.text = "Please select a role";
		option.value = "0";
		select.appendChild(option);	
		
		for(var i = 0;  i < allPossibleRoles.length; i++){
			var option = document.createElement("option");
			option.text = allPossibleRoles[i];
			option.value = allPossibleRoles[i];
			select.appendChild(option);	
		}
	
	}
</script>


#end