#parse("/velocity/layout.vm")
#@mainLayout()
<div style = "background-color:#333333; color: white;">
<h2 style = "color: white; display: inline-block;">${show.getShowTitle()}</h2>
<h4 style = "color: white; display: inline-block;">(${show.getYear()})</h4>

<div>
<h4 style = "color: white; display: inline-block;">${show.getLength()}</h4>
<h4 style = "color: white; display: inline-block;">${show.getGenre()}</h4>
</div></div>

<div>
<h1>Synopsis:</h1>
<p>${show.getSynopsis()}</p>
</div>

<div>
<h1> Cast </h1>
<table class = "table">
				#foreach( $credit in ${credits} )
			    <tr>
					<td> ${credit.getRole()}</td>
					<td> ${credit.getPerson().getFullName()} </td>
					<td> ${credit.getCharacter()} </td>
					<td> ${credit.getStartYear()}</td>
				</tr>
			 	#end
			</table>
</div>
#end
