#parse("/velocity/layout.vm")
#@mainLayout()
<head>
	<link rel="stylesheet" href="/show.css">
</head>
<body class = "body">
<div class="row">
<div class="col col-lg-3">
<img src="${show.getImages().get(0).getUrl()}" alt="${show.getShowTitle()} Poster Image"></img>
</div>
	<div class = "col col-lg-9 title">
		<h2>${show.getShowTitle()}</h2>
		<div class = "info">
			<hr>
			<p class = "overview">
				<span>${hour}h ${minutes}m |</span>
				<span>${show.getGenre()} |</span>
				<span>${show.getYear()}</span>
			</p>	
		</div>
	</div>
</div>
	<div>
		
	</div>
	
	<div class = "section">
		<h3>Synopsis</h3>
		<p class = "synopsis">${show.getSynopsis()}</p>
	</div>
	
	<div class = "section">
		<h3> Cast </h3>
		<table class = "table">
			<tr>
				<th>Role</th>
				<th>Name</th>
				<th>Character</th>
				#if(!${show.getIsMovie()})
					<th>Year</th>
				#end
			</tr>
			#foreach( $credit in ${credits} )
			    <tr>
			    	<td> <a href ="/actor?actor=${credit.getPerson().getPersonId()}">${credit.getPerson().getFullName()}</a></td>
					<td> ${credit.getRole()}</td>
					<td> ${credit.getCharacter()} </td>
					<td> #if(!${show.getIsMovie()})
						 	${credit.getStartYear()}
							 #if(${credit.getEndYear()} != 0)
								- ${credit.getEndYear()}
							 #end	
						 #end</td>
				</tr>
		 	#end
		</table>
	</div>
</body>

#end
